
form{
    position: relative;
}
input,textarea{
    padding: 10px 20px;
    border-radius: 100px;
    background:  rgb(232, 240, 254);
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    resize: none;
    color: #000;
    width: 300px;
}
input::placeholder,textarea::placeholder{
    color: rgba(0, 0, 0, 0.52);
}
form .btn{
    position: absolute;
    left: 0;
    top: 80%;
    font-weight: 500;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: lightcoral;
}